<!DOCTYPE html>
<html>
<head><title>Group Vibrations</title></head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    
    <h1>{{ video_title }}</h1>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '480',
          videoId: "{{ video_id }}",
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          window.location = "/songs/{{ playlist_id }}&tracknum={{ next_track_num }}"
        }
      }
    </script>
    
    {% if song_list %}
        <p>Songs in current playlist (currently playing song at position {{ current_position }}):</p>
        <ol>
        {% for song in song_list %}
            <li><a href="/songs/{{ playlist_id }}&tracknum={{ song.playlistPosition }}">{{ song.songName }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Playlist empty. Maybe you should add something so the party doesn't get awkward.</p>
    {% endif %}
    <form action="/songs/addSong/">
        <input type="submit" value="Add to current playlist">
    </form>
  </body>
</html>