
<html>
	<head>
	<style>
	body {
    background-color: linen;
	}
	h1 {
    color: maroon;
    margin-left: 40px;
	} 
	</style>
	</head>
   <center><title>Group Vibrations Login</title></center>
    <body background src = "http://paper-backgrounds.com/textureimages/2012/08/vintage-light-brown-canvas-texture-background.jpg"/>
    <h1> Welcome to Group Vibrations!</h1>

    <form action="/songs/index/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>
    <img src = "http://hunter.weebitmagic.com/images/wallpapers/dual/1214002233334.jpg"  height = 50% width = 50%/>
    <img src = "http://www.cs.cmu.edu/sites/default/files/tartanhacks.jpg" 
    	height = 40% width = 40% />
    

    </body>
</html>